body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}
h1,h2,h3,h4,h5,header a,.cta,.cta-1{
    font-family: 'Raleway',sans-serif;
}
h1,h2,h3,h4,h5{
    color: hsl(0, 0%, 100%);
}
a{
    text-decoration: none;
}
header a{
    padding-right: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section,footer{
    padding: 50px 75px;
}
header a,p{
    color: hsla(0, 0%, 100%,0.8);
}
.section-1{
    text-align: center;
    background-image: url('images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100% cover;
    background-position: bottom center;
    background-color:  hsl(217, 28%, 15%);
}
.section-1 main{
    width: 40%;
    margin: 0 auto;
}
.section-1 main p{
    margin-bottom: 10%;
}
.cta{
    padding: 15px 75px;
}
.cta,.cta-2{
    font-weight: 700;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    background: linear-gradient(135deg,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
}
.cta:hover,.cta-2:hover{
    background: linear-gradient(hsl(176, 68%, 64%),hsl(176, 68%, 64%));
}
.cta-2{
    border: none;
    padding: 8px 50px;
}
.section-2,.section-3,.section-4{
    background-color: hsl(218, 28%, 13%);
}
.section-2{
    display: grid;
    text-align: center;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 300px 300px;
}
.section-2 div{
    width: 70%;
    margin: 0 auto;
}
.section-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-3 main{
    width: 45%;
}
.section-4{
    background-image: url('images/bg-quotes.png');
    background-size: 100% contain;
    background-repeat: no-repeat;
    background-position: top 1rem left 4rem; 
}
.section-4 main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-1{
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
}
.cta-1:hover{
    color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 100%);
}
svg{
    padding-left: 10px;
}
.icon .circle-hover:hover {
    fill: hsl(0, 0%, 100%);
}
.testimonials{
    padding: 30px;
    margin-right: 5%;
    border-radius: 5px;
    background-color: hsl(219, 30%, 18%);
}
.testimonials img{
    height: 7vh;
    border-radius: 50%;
}
.avatar-div{
    display: flex;
    align-items: center;
}
.avatar-div div{
    padding-left: 20px;
    font-size: 0.8em;
}
.section-4{
    height: 85vh;
}
.sign-up{
    width: 50%;
    top: -35%;
    left: 25%;
    position: absolute;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(217, 28%, 15%);
}
input{
    border: none;
    padding: 15px 100px;
    margin-right: 5%;
    border-radius: 50px;
}
h5{
    font-size: 1.5em;
}
.logo{
    margin-top: 15%;
}
footer{
    position: relative;
    font-size: 0.9em;
    background-color: hsl(216, 53%, 9%);
}
footer main,footer div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.location{
    width: 28%;
}
.address,.questions div{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.questions div{
    align-items: flex-start;
    justify-content: center;
}
.questions a{
    padding: 10px;
}
footer a{
    color: hsla(0, 0%, 100%,0.8);
}
footer a:hover{
    color: hsla(0, 0%, 100%);
}
footer img{
    padding-right: 15px;
}
i{
    padding: 10px;
    margin-right: 1rem;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
}
i:hover{
    cursor: pointer;
    border-color: hsl(176, 68%, 64%);
    color: hsl(176, 68%, 64%);
}
#errorMessage {
    position: absolute;
    display: none;
    font-size: 0.8em;
    margin-right: 50%;
    margin-top: 75px;
    color: hsl(0, 100%, 63%);
}
@media screen and (max-width: 1000px) {
    body{
        overflow-x: hidden;
    }
    section,footer{
        padding: 50px 25px;
    }
    header img{
        height: 5vh;
    }
    .illustration-intro{
        margin-top: 10%;
        height: 45vh;
    }
    .section-1{
        background-image: none;
    }
    .section-1{
        background-size: contain;
        background-image: url('images/bg-curvy-mobile.svg');
    }
    .section-1 main{
        width: 100%;
    }
    .section-2{
        display: block;
        width: 100%;
    }
    .section-3,.section-4 main,footer main,.questions{
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
    }
    .section-3 img{
        height: 45vh;
    }
    .testimonials{
        width: 70%;
        margin-bottom: 5%;
    }
    .testimonials img{
        height: 6vh;
    }
    .section-3 main{
        width: 70%;
    }
    .section-4{
        background-position: top 1rem left 2rem;
        padding-bottom: 50%;
        height: auto;
    }
    .sign-up{
        left: 12%;
        width: 60%;
        top: -20%;
    }
    .sign-up div{
        flex-direction: column;
    }
    input{
        width: 30%;
        margin-top: 10%;
        margin-right: 0;
        padding-bottom: 5px;
    }
    #errorMessage{
        width: 100%;
        margin-bottom: 50px;
        left: 5px;
    }
    .cta-2{
        padding: 15px 80px;
        margin-top: 10%;
    }
    .logo{
        margin-top: 50%;
        margin-bottom: 5%;
    }
    footer main{
        justify-content: end;
        align-items: flex-start;
    }
    .questions{
        margin-top: 5%;
    }
    .location{
        width: 65%;
    }
    .icons{
        margin-top: 5%;
    }
}